/* Styling for desktop screens*/
/* Add a black background color to the top navigation */

/*Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/*End of importing fonts*/
body{
  font-family: 'Montserrat', sans-serif;
}

#webHeader{
  font-family: 'Dancing Script', cursive;
  float: left;
  margin-left: 1em;
}

#nav-list li a{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
}


.navbar{
  position: fixed;
  width: 100%;
  border:1px solid #ffffff;
  background-color:rgb(165, 42, 42,0.5);
  opacity: 1;
  color: #ffffff;
  z-index: 3;
}

#toggler-btn{
  border: #ffffff solid 1px;
  color: #ffffff;
}



.navbar #navbarText{
  float:right;
}

.section-1{
  background-image: url(../img/section1-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  text-align: center;
  align-content: center;
  color: #ffffff;
}
.section-1 .content-header{
  padding-top: 2em;
}
.section-1 p{
  font-size: 30px;
  align-items: center;
  text-align: center;
}

.section-1 .pizza-content{
  background-color:rgb(165, 42, 42,0.5);
  width: fit-content;
}

.section-1 .view-more{
  background: transparent;
  width: 10em;
  color:#ffffff;
  font-size: 30px;
  margin-top: 1em;
  margin-bottom: 2em;
  border: 1px solid #ffffff;
}

.section-1 .logo{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
/*End of Section One styling*/

/*Beginning of Section two styling*/
  .section-2{
  background-color: white ;  
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  text-align: center;
  align-content: center;
  color: #000000;
  }
  .section-2 h1{
    padding-top: 2em;
  }

  .section-2 .card{
    margin-left: 40px;
    border: 1px solid;
    border-color:rgb(165, 42, 42,0.5);
    
  }
  .section-2 .card img{
    margin-top: 10px;
  }

  .section-2 .card-button{
    border: 1px solid;
    border-color: rgb(165, 42, 42,0.5);
    color: rgb(165, 42, 42,0.5);
  }


  .section-2 .card-title{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }

  /*End of section 2*/

  /*Beginning of section 3*/
  .section-3{
    background-color: white ;  
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    color: #000000;
    }

    .section-3 h1{
      padding-top: 3em;
    }

    .section-3 table{
      margin-top: 1em;
      margin-bottom:1em;
      margin-left: 2em;
    }

    .section-3 table tr td{
      padding-top: 2em;
    }
  /*End of section 3*/
  .section-4{
    background-color: white ;  
    background-image: url(../img/section1-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    color: #ffffff;
    }

    .section-4 h1{
      padding-top: 1em ;
    }

    .section-4 .view-more{
      background: transparent;
      width: 10em;
      color:#ffffff;
      font-size: 30px;
      margin-top: 1em;
      margin-bottom: 2em;
      border: 1px solid #ffffff;
    }
  /*Start of Section 4*/
  
  /*End of Section 4*/

  /* Pepperoni.
Mushroom.
Extra cheese.
Sausage.
Onion.
Black olives.
Green pepper.
Fresh garlic. */
/*End of section two styling*/




/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  
}
